<%= render "nearby_places" %>
<!--end block-->

<div class="block">
    <%= render "allow_order_places" %>
</div>
<!--end block-->

<div class="block">
    <%= render "top_order_places" %>
</div>
<!--end block-->

<div class="block">
    <%= render "favorite_places" %>
</div>
<!--end block-->
<%= render "reviews" %>
