<tr>
  <td class="text-center"><%= place.id %></td>
  <td><%= image_tag place.image, class: "mini-avatar" %>
  </td>
  <td><%= link_to place.name, admin_place_path(place) %></td>
  <td><span class="label label-<%= place.status %>"><%= t ".status_#{place.status}" %></span></td>
  <td class="text-center"><%= locale_date place.created_at %></td>
  <td class="text-center">
    <div class="btn-group btn-group-xs">
        <%= form_for [:admin, place] do |f| %>
          <%=  f.hidden_field :status, value: "approved" %>
          <%= button_tag"", class: "btn btn-xs btn-1 button", "data-original-title": t(".approve") do %>
            <i class="fa fa-check"></i>
          <% end %>
        <% end %>
        <%= form_for [:admin, place] do |f| %>
          <%=  f.hidden_field :status, value: "pending" %>
          <%= button_tag"", class: "btn btn-xs btn-danger button", "data-original-title": t(".discard") do %>
            <i class="fa fa-times"></i>
          <% end %>
        <% end %>
    </div>
  </td>
  <td class="text-center">
    <div class="btn-group option">
        <%= button_tag class: "btn btn-xs btn-danger confirm-delete-place button",
          id: "confirm-delete-place-#{place.id}",
          title: t(".delete") do %>
          <i class="fa fa-trash icon"></i>
        <% end %>
      </div>
  </td>
</tr>
