<ul class="links">
    <li class="<%= active_class? orders_path %>">
        <%= link_to t(".manage_order"), orders_path %>
    <li class="<%= active_class? saved_places_path %>">
        <%= link_to t(".saved_places"), saved_places_path %>
    </li>
    <li class="<%= active_class? owner_places_path %>">
        <%= link_to t(".manage_places"), owner_places_path %>
    <li><a href="contact-us.html">Contact Us</a></li>
</ul>
