<div class="sidebar">
    <section id="availability" class="box">
        <h2><%= t ".food_menu" %></h2>
        <div class="form-foods">
            <div class="table-responsive pricing-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="width-30">
                                <span class="title"><%= t ".food_name" %></span>
                            </th>
                            <th class="section">
                                <span class="title"><%= t ".food_category" %></span>
                            </th>
                            <th class="section">
                                <span class="title"><%= t ".price" %></span>
                            </th>
                            <th class="section">
                                <span class="title"><%= t ".order" %></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="timeline-list-food">
                        <%= render partial: "food", collection: @foods, as: :food %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="center">
            <div class="load_more_button">
                <%= button_to t("load_more"),
                    {controller: "places", action: "foods_timeline", offset: Settings.show_limit.show_5, place_id: @place.id},
                    remote: true, method: :get, class: "btn btn-default btn-rounded btn-framed" %>
            </div>
        </div>
        <!--end form-reservations-->
    </section>
</div>
