<section id="availability">
    <h2><%= t ".food_menu" %></h2>
    <div class="form-reservations">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th><%= t ".food_name" %></th>
                    <th><%= t ".food_category" %></th>
                    <th><%= t ".price" %></th>
                    <th><%= t ".quantity" %></th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
        <%= render partial: "food", collection: @foods, as: :food %>
    </div>
    <div class="center">
        <a href="" class="btn btn-default btn-rounded btn-framed">Load More</a>
    </div>
    <!--end form-reservations-->
</section>
