<tr class="food" id="food-<%= food.id %>">
    <td class="food-name" id="food-name-<%= food.id %>"><%= food.name %></td>
    <td><%= food.food_category_name %></td>
    <td class="food-price" id="food-price-<%= food.id %>"><%= food.price %></td>
    <td>
        <div class="form-group">
            <button type="submit"
                class="btn btn-primary btn-rounded btn-add-food"
                id="add-food-<%= food.id %>">+</button>
        </div>
        <!--end form-group-->
    </td>
</tr>
<!--end tr.room-->
