<section id="write-a-review" class="box">
    <h2><%= t ".write_review" %></h2>
    <%= simple_form_for [@place, @user_rating = UserRating.new],
        html: {class: "labels-uppercase clearfix form-submit labels-uppercase", id: "form-submit", enctype: "multipart/form-data"} do |f| %>
        <% unless current_user %>
            <div class="alert alert-dark fade in center" role="alert">
                <span class="sr-only">Error:</span>
                <a href="#tab-sign-in" data-toggle="modal"
                    data-tab="true" data-target="#sign-in-register-modal">
                    <%= t ".require_signin" %>
                </a>
            </div>
        <% end %>
        <div class="review write <%= switch_review_form %>" id="review-write">
            <aside class="name"><%= current_user.name if current_user %></aside>
            <div class="comment">
                <div class="row">
                    <div class="col-md-8">
                        <div class="comment-title">
                            <h4><%= t ".write_your_reviews" %></h4>
                        </div>
                        <%= f.hidden_field :user_id, value: current_user.id if current_user %>
                        <!--end title-->
                        <div class="form-group">
                            <label for="form_reply_1-name"><%= t ".title" %><em>*</em></label>
                            <%= f.input :title, label: false, input_html: {class: "form-control", id:"form_reply_1-name", placeholder:t(".feel_about"), required:""} %>
                        </div>
                        <div class="form-group">
                            <label for="form_reply_1-message"><%= t ".content" %><em>*</em></label>
                            <%= f.input :content, as: :text, label: false, input_html: {class: "form-control", id: "form-submit-content", rows: "8", required: "", placeholder: t(".about_place"), required:""} %>
                        </div>
                        <!--end form-group-->
                        <section id="gallery">
                            <div class="title">
                                <h2><%= t ".gallery" %></h2>
                            </div>
                            <div class="file-upload-previews"></div>
                            <div class="file-upload">
                                <div class="MultiFile-wrap" id="MultiFile1">
                                    <input type="file" name="user_rating_images[images][]" class="file-upload-input with-preview MultiFile-applied MultiFile" multiple="" title="Click to add files" maxlength="4" accept="gif|jpg|png" id="MultiFile1_F2" value="">
                                </div>
                                <span>Click to add images</span>
                            </div>
                        </section>

                        <div class="form-group pull-right">
                            <button type="submit" class="btn btn-primary btn-rounded"><%= t ".submit" %></button>
                        </div>
                        <!--end form-group-->
                    </div>
                    <!--end col-md-8-->
                    <div class="col-md-4">
                        <div class="comment-title">
                            <h4><%= t ".rating" %></h4>
                        </div>
                        <!--end title-->
                        <dl class="visitor-rating">
                            <dt><%= t ".location" %></dt>
                            <dd class="star-rating active" data-name="location"></dd>
                            <dt><%= t ".prices" %></dt>
                            <dd class="star-rating active" data-name="price"></dd>
                            <dt><%= t ".quality" %></dt>
                            <dd class="star-rating active" data-name="quality"></dd>
                            <dt><%= t ".serve" %></dt>
                            <dd class="star-rating active" data-name="serve"></dd>
                            <dt><%= t ".space" %></dt>
                            <dd class="star-rating active" data-name="space"></dd>

                        </dl>
                    </div>
                    <!--end col-md-4-->
                </div>
                <!--end row-->
            </div>
            <!--end comment-->
        </div>
        <!--end review-->
    <% end %>
</section>
