<section id="write-a-review">
    <h2><%= t ".write_review" %></h2>
    <%= simple_form_for [@place, UserRating.new], html: {class: "labels-uppercase clearfix"} do |f| %>
        <% unless current_user %>
            <div class="alert alert-dark fade in center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-switch="#review-write">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span class="sr-only">Error:</span>
                <a href="#tab-sign-in" data-toggle="modal"
                    data-tab="true" data-target="#sign-in-register-modal">
                    <%= t ".require_signin" %>
                </a>
            </div>
        <% end %>
        <div class="review write <%= switch_review_form %>" id="review-write">
            <aside class="name"><%= current_user.name if current_user %></aside>
            <div class="comment">
                <div class="row">
                    <div class="col-md-8">
                        <div class="comment-title">
                            <h4><%= t ".write_your_reviews" %></h4>
                        </div>
                        <%= f.hidden_field :user_id, value: current_user.id if current_user %>
                        <!--end title-->
                        <div class="form-group">
                            <label for="form_reply_1-name"><%= t ".title" %><em>*</em></label>
                            <%= f.input :title, label: false, input_html: {class:"form-control", id:"form_reply_1-name", name:"name", placeholder:"Beautiful holiday!", required:""} %>
                        </div>
                        <div class="form-group">
                            <label for="form_reply_1-message"><%= t ".content" %><em>*</em></label>
                            <%= f.input :content, as: :text, label: false, input_html: {class: "form-control", id: "form-submit-content", rows: "8", required: "", placeholder: "Describe your feeling about place"} %>
                        </div>
                        <!--end form-group-->
                        <div class="form-group pull-right">
                            <button type="submit" class="btn btn-primary btn-rounded"><%= t ".submit" %></button>
                        </div>
                        <!--end form-group-->
                    </div>
                    <!--end col-md-8-->
                    <div class="col-md-4">
                        <div class="comment-title">
                            <h4><%= t ".rating" %></h4>
                        </div>
                        <!--end title-->
                        <dl class="visitor-rating">
                            <dt><%= t ".total" %></dt>
                            <dd class="star-rating active" data-name="total">
                            <dt>Cleanliness</dt>
                            <dd class="star-rating active" data-name="cleanliness"></dd>
                            <dt>Comfort</dt>
                            <dd class="star-rating active" data-name="comfort"></dd>
                            <dt>Location</dt>
                            <dd class="star-rating active" data-name="location"></dd>
                            <dt>Facilities</dt>
                            <dd class="star-rating active" data-name="facilities"></dd>
                            <dt>Staff</dt>
                            <dd class="star-rating active" data-name="staff"></dd>
                            <dt>Value for money</dt>
                            <dd class="star-rating active" data-name="value"></dd>
                        </dl>
                    </div>
                    <!--end col-md-4-->
                </div>
                <!--end row-->
            </div>
            <!--end comment-->
        </div>
        <!--end review-->
    <% end %>

    <form  class="labels-uppercase clearfix" id="form_reply_1">
    </form>
    <!--end form-->
</section>
