<div class="review">
    <div class="row">
        <div class="col-md-3">
            <aside class="name"><%= review.user.name %></aside>
            <aside class="date"><%= review.user.created_at %></aside>
        </div>
        <!--end col-md-3-->
        <div class="col-md-9">
            <div class="comment box">
                <div class="comment-title">
                    <figure class="rating"><%= review.average_points %></figure>
                    <h4><%= review.title %></h4>
                </div>
                <!--end title-->
                <p><%= review.content %></p>
                <% if review.user_rating_images.present? %>
                    <div class="image-row">
                        <div class="image-set">
                            <% review.user_rating_images.each do |image| %>
                                <%= link_to image_path(image.image), "data-lightbox": "roadtrip", class: "example-image-link" do %>
                                    <%= image_tag image.image, class: "example-image" %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
            <!--end comment-->
        </div>
        <!--end col-md-9-->
    </div>
    <!--end row-->
</div>
<!--end review-->
