<section id="reviews" class="box">
    <div class="title">
        <a href="#write-a-review" class="btn btn-primary btn-rounded pull-right scroll">
            <%= t ".write_review" %>
        </a>
    </div>
    <h3><%= t ".overall" %></h3>
    <ul class="rating-score">
        <li class="overall"><i class="fa fa-star"></i><%= @place.rate_point_average %></li>
        <li><span><%= @place.quality_point %></span>
            <figure><%= t ".quality" %></figure>
        </li>
        <li><span><%= @place.space_point %></span>
            <figure><%= t ".space" %></figure>
        </li>
        <li><span><%= @place.serve_point %></span>
            <figure><%= t ".serve" %></figure>
        </li>
        <li><span><%= @place.price_point %></span>
            <figure><%= t ".price" %></figure>
        </li>
        <li><span><%= @place.location_point %></span>
            <figure><%= t ".location" %></figure>
        </li>
    </ul>
    <hr>
    <div class="reviews">
        <%= render partial: "review", collection: @reviews, as: :review %>
    </div>
    <!--end reviews-->
    <div class="center">
        <a href="" class="btn btn-default btn-rounded btn-framed"><%= t "load_more" %></a>
    </div>
</section>
<%= render "form_review" %>
