<section id="reviews">
    <div class="title">
        <h2 class="pull-left"><%= t ".reviews" %></h2>
        <a href="#write-a-review" class="btn btn-primary btn-rounded pull-right scroll"><%= t ".write_review" %></a>
    </div>
    <h3><%= t ".overall" %></h3>
    <ul class="rating-score">
        <li class="overall"><i class="fa fa-star"></i><%= @place.rate_point_average %></li>
        <li><span>9.6</span>
            <figure>Cleanliness</figure>
        </li>
        <li><span>10</span>
            <figure>Comfort</figure>
        </li>
        <li><span>9.4</span>
            <figure>Location</figure>
        </li>
        <li><span>9.8</span>
            <figure>Facilities</figure>
        </li>
        <li><span>10</span>
            <figure>Staff</figure>
        </li>
        <li><span>10</span>
            <figure>Value for money</figure>
        </li>
    </ul>
    <div class="reviews">
        <%= render partial: "review", collection: @reviews, as: :review %>
    </div>
    <!--end reviews-->
</section>
<div class="center">
    <a href="" class="btn btn-default btn-rounded btn-framed">Load More</a>
</div>
<%= render "form_review" %>
