<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Listing</a></li>
    <li class="active">Detail</li>
</ol>
<div class="row">
    <%= render "search_bar" %>
    <!--end col-md-3-->
    <div class="col-md-9 col-sm-8">
        <div class="quick-navigation" data-fixed-after-touch="">
            <div class="wrapper">
                <ul>
                    <li><a href="#description" class="scroll"><%= t ".description" %></a></li>
                    <li><a href="#map" class="scroll"><%= t ".map" %></a></li>
                    <li><a href="#facilities" class="scroll">Facilities</a></li>
                    <li><a href="#additional-information" class="scroll">Additional Information</a></li>
                    <li><a href="#reviews" class="scroll"><%= t ".reviews" %></a>(<%= @place.total_reviews %>)</li>
                </ul>
            </div>
        </div>
        <div class="main-content">
            <div class="title">
                <div class="left">
                    <h1><%= @place.name %><span class="rating"><i class="fa fa-star"></i><%= @place.rate_point %></span></h1>
                    <h3><a href="#"><%= @place.address.html_safe %></a> (63 properties)</h3>
                </div>
                <div class="right">
                    <a href="#map" class="icon scroll"><i class="fa fa-map-marker"></i><%= t ".see_on_map" %></a>
                    <a href="#availability" class="btn btn-primary btn-rounded scroll">Reserve Today</a>
                </div>
            </div>
            <!--end title-->
            <section id="gallery">
                <div class="gallery-detail">
                    <div class="one-item-carousel">
                        <div class="image">
                            <a href="#reviews" class="review scroll">
                                <div class="rating">
                                    <div class="rating-title">
                                        <figure class="rating">9.8</figure>
                                        <h4>Very Good Hotel</h4>
                                    </div>
                                    <p>Consectetur adipiscing elit. Vivamus nec augue ac dui sodales euismod. Suspendisse
                                        at dui sit amet felis commodo dictum. Class aptent taciti sociosqu ad litora
                                        torquent per conubia nostra, per inceptos
                                    </p>
                                </div>
                            </a>
                            <img src="assets/img/items/01_b.jpg" alt="">
                        </div>
                        <div class="image">
                            <a href="#reviews" class="review scroll">
                                <div class="rating">
                                    <div class="rating-title">
                                        <figure class="rating">9.9</figure>
                                        <h4>Beautiful Holiday</h4>
                                    </div>
                                    <p>Class aptent taciti sociosqu ad litora
                                        torquent per conubia nostra, per inceptos
                                    </p>
                                </div>
                            </a>
                            <img src="assets/img/items/02_b.jpg" alt="">
                        </div>
                        <div class="image">
                            <a href="#reviews" class="review scroll">
                                <div class="rating">
                                    <div class="rating-title">
                                        <figure class="rating">9.8</figure>
                                        <h4>Very Good Hotel</h4>
                                    </div>
                                    <p>Consectetur adipiscing elit. Vivamus nec augue ac dui sodales euismod. Suspendisse
                                        at dui sit amet felis commodo dictum. Class aptent taciti sociosqu ad litora
                                        torquent per conubia nostra, per inceptos
                                    </p>
                                </div>
                            </a>
                            <img src="assets/img/items/03_b.jpg" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <h2><%= t ".description" %></h2>
            <div class="row">
                <div class="col-md-8">
                    <section id="description">
                        <%= @place.descriptions.html_safe %>
                    </section>
                    <section id="map">
                        <h2><%= t ".map" %></h2>
                        <div id="map-item" class="map height-300 box"></div>
                        <!--end map-->
                    </section>
                </div>
                <!--end col-md-8-->
                <div class="col-md-4">
                    <div class="sidebar">
                        <aside class="box">
                            <dl>
                                <dt>1-Bed Rooms:</dt>
                                <dd>23</dd>
                                <dt>2-Bed Rooms:</dt>
                                <dd>48</dd>
                                <dt>Apartments:</dt>
                                <dd>12</dd>
                                <dt>Parking:</dt>
                                <dd>Free</dd>
                                <dt>Swimming:</dt>
                                <dd>Yes</dd>
                                <dt>Ski Center:</dt>
                                <dd>2km</dd>
                            </dl>
                        </aside>
                        <aside>
                            <h2>Contact</h2>
                            <address>
                                <strong>Your Company</strong><br>
                                4877 Spruce Drive<br>
                                West Newton, PA 15089<br>
                                <br>
                                +1 (734) 123-4567<br>
                                <a href="#">hello@example.com</a><br>
                                <strong>skype:</strong> your.company
                            </address>
                        </aside>
                    </div>
                    <!--end sidebar-->
                </div>
                <!--end col-md-4-->
            </div>
            <!--end row-->
            <%= render partial: "foods", object: @foods %>
            <%= render partial: "reviews", object: @reviews %>
        </div>
        <!--end main-content-->
    </div>
    <!--end col-md-9-->
</div>
