<%= render "confirm_order" %>
<div class="row">
    <%= render "search_bar" %>
    <!--end col-md-3-->
    <div class="col-md-9 col-sm-8" id="results">
        <div class="quick-navigation" data-fixed-after-touch="">
            <div class="wrapper">
                <ul>
                    <li><a href="#description" class="scroll"><%= t ".description" %></a></li>
                    <li><a href="#map" class="scroll"><%= t ".map" %></a></li>
                    <li><a href="#availability" class="scroll"><%= t ".food_menu" %></a></li>
                    <li><a href="#reviews" class="scroll"><%= t ".reviews" %></a>(<%= @place.total_reviews %>)</li>
                </ul>
            </div>
        </div>
        <div class="main-content">
            <div class="title">
                <div class="left">
                    <h1><%= @place.name %><span class="rating"><i class="fa fa-star"></i><%= @place.rate_point_average %></span></h1>
                    <h3><a href="#"><%= place_address(@place).html_safe %></a> (63 properties)</h3>
                </div>
                <div class="right">
                    <a href="#map" class="icon scroll"><i class="fa fa-map-marker"></i><%= t ".see_on_map" %></a>
                    <a href="#availability" class="btn btn-primary btn-rounded scroll">Reserve Today</a>
                </div>
            </div>
            <!--end title-->
            <section id="gallery">
                <div class="gallery-detail">
                    <%= image_tag @place.image %>
                </div>
            </section>
            <h2><%= t ".description" %></h2>
            <div class="row">
                <div class="col-md-8">
                    <section id="description">
                        <%= place_descriptions(@place).html_safe %>
                    </section>
                    <section id="map" class="map">
                        <h2><%= t ".map" %></h2>
                        <div id="map-item" class="map height-300 box"></div>
                        <!--end map-->
                    </section>
                </div>
                <!--end col-md-8-->
                <%= render "info_box" %>
            </div>
            <!--end row-->
        </div>
        <!--end main-content-->
    </div>
    <!--end col-md-9-->
</div>
<div class="row food-order" id="food-order">
    <!--end col-md-4-->
    <div class="col-md-8 col-sm-8" id="foods">
        <%= render partial: "foods", object: @foods %>
    </div>
    <div class="col-md-4  col-sm-8" id="order">
        <%= render "order" %>
    </div>
</div>
<%= render partial: "reviews", object: @reviews %>
