<footer id="page-footer">
    <!--end row-one-->
    <div class="row-two clearfix">
        <div class="container">
            <div class="copyright pull-left"><%= t ".page_description" %></div>
            <div class="footer-nav pull-right">
                <a href="index.html"><%= t ".home" %></a>
                <a href="about-us.html"><%= t ".about_us" %></a>
                <a href="contact-us.html"><%= t ".contact" %></a>
            </div>
        </div>
        <div class="bg-transfer">
            <%= image_tag "footer-bg.jpg" %>
        </div>
    </div>
    <!--end row-two-->
</footer>
