<footer id="page-footer">
    <div class="row-one">
        <div class="container">
            <div class="logos">
                <div class="logo">
                    <a href="#">
                        <%= image_tag "logo-1.png" %>
                    </a>
                </div>
                <!--/ .logo-->
                <div class="logo">
                    <a href="#">
                        <%= image_tag "logo-2.png" %>
                    </a>
                </div>
                <!--/ .logo-->
                <div class="logo">
                    <a href="#">
                        <%= image_tag "logo-3.png" %>
                    </a>
                </div>
                <!--/ .logo-->
                <div class="logo">
                    <a href="#">
                        <%= image_tag "logo-4.png" %>
                    </a>
                </div>
                <!--/ .logo-->
                <div class="logo">
                    <a href="#">
                        <%= image_tag "logo-5.png" %>
                    </a>
                </div>
                <!--/ .logo-->
            </div>
            <!--/ .logos-->
        </div>
    </div>
    <!--end row-one-->
    <div class="row-two clearfix">
        <div class="container">
            <div class="copyright pull-left"><%= t ".page_description" %></div>
            <div class="footer-nav pull-right">
                <a href="index.html"><%= t ".home" %></a>
                <a href="about-us.html"><%= t ".about_us" %></a>
                <a href="contact-us.html"><%= t ".contact" %></a>
            </div>
        </div>
        <div class="bg-transfer">
            <%= image_tag "footer-bg.jpg" %>
        </div>
    </div>
    <!--end row-two-->
</footer>
