<div class="signin-signup-modal">
    <%= render "shared/sign_in_up" %>
</div>
<div id="page-header">
        <header>
            <div class="container">
                <div class="secondary-nav">
                    <div class="nav-trigger"><a data-toggle="collapse" href="#secondary-nav" aria-expanded="false" aria-controls="secondary-nav"><i class="fa fa-user"></i></a></div>
                    <div id="secondary-nav">
                        <nav>
                            <div class="left opacity-60">
                                <a href=""><i class="fa fa-phone"></i>+84 1648 447 158</a>
                                <a href="mailto:hello@example.com"><i class="fa fa-envelope"></i>vanuy113@gmail.com</a>
                            </div>
                            <!--end left-->
                            <div class="right">
                                <!--end element-->
                                <div class="element">
                                    <select>
                                        <option>VI</option>
                                        <option>EN</option>
                                        <option>JP</option>
                                    </select>
                                </div>
                                <!--end element-->
                            </div>
                            <!--end right-->
                        </nav>
                    </div>
                </div>
                <!--end secondary-nav-->
            </div>
            <!--end container-->
            <hr>
            <div class="container">
                <div class="primary-nav">
                    <div class="left">
                        <%= link_to root_path, id: "brand" do %>
                            <%= image_tag "logo.png" %><%= t "logo_title" %>
                            <a class="nav-trigger" data-toggle="collapse" href="#primary-nav" aria-expanded="false" aria-controls="primary-nav"><i class="fa fa-navicon"></i>
                        <% end %>
                    </div>
                    <!--end left-->
                    <div class="right" >
                        <nav id="primary-nav">
                            <ul>
                                <li class="<%= active_class? root_path %>"><%= link_to t(".home"), root_path %></li>
                                <li class="<%= active_class? places_path %> <%= active_class? nearby_places_path %>">
                                    <a href="javascript:void(0)" class="has-child"><%= t ".discover" %></a>
                                    <ul class="child-nav">
                                        <li><%= link_to t(".places"), places_path %></li>
                                        <li><%= link_to t(".nearby_places"), nearby_places_path %></li>
                                    </ul>
                                </li>
                                <% if current_user %>
                                    <li class="<%= active_class? user_path(current_user) %>">
                                        <a href="javascript:void(0)" class="has-child">
                                        <%= image_tag current_user.avatar, class: "user-mini-avatar" %>
                                        <%= current_user.name %></a>
                                        <ul class="child-nav">
                                            <li><%= link_to t(".profile"), user_path(current_user) %></li>
                                            <% if admin_user? current_user %>
                                                <li><%= link_to t(".admin_dashboard"), admin_root_path %></li>
                                            <% end %>
                                            <li><%= link_to t(".orders"), orders_path %></li>
                                            <li><%= link_to t(".places"), owner_places_path %></li>
                                            <li><%= link_to t(".saved_places"), saved_places_path %><li>
                                            <li><%= link_to t(".log_out"), logout_path, method: :delete %></li>
                                        </ul>
                                    </li>
                                <% else %>
                                    <li>
                                        <a href="#tab-sign-in" data-toggle="modal" data-tab="true" data-target="#sign-in-register-modal"><%= t ".sign_in_up" %></a>
                                    </li>

                                <% end %>
                                <li class="submit">
                                    <%= link_to new_place_path do %>
                                        <span><%= t ".submit_new" %></span>
                                        <i data-toggle="tooltip" data-placement="top" title="<%= t ".submit_new" %>"><%= image_tag "plus.png" %></i>
                                    <% end %>
                                </li>
                            </ul>
                        </nav>
                        <!--end nav-->
                    </div>
                    <!--end right-->
                </div>
                <!--end primary-nav-->
            </div>
            <!--end container-->
        </header>
        <!--end header-->
    </div>
