<!DOCTYPE html>
<html>
  <head>
    <title><%= t "title" %></title>
    <%= favicon_link_tag "favicon.png" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="page-wrapper">
      <%= render "layouts/header" %>
      <%= render "shared/popup_message" %>
      <div id="page-content">
        <div class="container">
          <%= render "shared/bread_crumb" if request.path != root_path %>
          <%= yield %>
        </div>
      </div>
      <%= render "layouts/footer" %>
    </div>
   <a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>

    <script type="text/javascript" src="/assets/js/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTA6W73R5Kmr-i5At5jFi8kW5tqhPN6D4"></script>
    <script type="text/javascript" src="/assets/js/infobox.js"></script>

    <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/assets/js/owl.carousel.js"></script>
    <script type="text/javascript" src="/assets/js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/assets/js/custom.js"></script>

    <!--[if lte IE 9]>
    <script src="/assets/js/ie.js"></script>
    <![endif]-->
  </body>
</html>
